<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Book Store</a>
        <a class="navbar-brand" href="/auth/login">login</a>
      
        <a class="navbar-brand" href="/auth/signup">signup</a>
      
        <a class="navbar-brand" href="/orders">orders</a>
      
        <a class="navbar-brand" href="/users/setting">profile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          </ul>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">LOGOUT</a>
            </li>
          </ul>
        </div>
      </nav>
    <form action="/admin/upload/book" method="post" enctype="multipart/form-data">
  <input type="file" name="book_image" />
  <input type="text" name="name" placeholder="name">
  <input type="text" name="stock" placeholder="stock">
  <input type="text" name="author" placeholder="Author">
  <input type="text" name="price" placeholder="Price">
  <input type="text" name="description" placeholder="description">
  <input type="submit" value="submit"> 
</form>
    </form>
</body>
</html>